{% extends 'stevelanding/base.html' %}
{% load bootstrap4 %}

{% block title %}:){% endblock %}

{% block content %}
    This is <em>bootstrap4</em> for <strong>Django</strong>.
    <h1>
    Irure cupidatat minim ullamco irure esse magna aliquip consequat. Laboris pariatur eu id Lorem culpa ea veniam nulla dolore enim commodo dolor eu nostrud. Cillum enim ad esse aliquip sunt dolor. Velit in sit magna enim non qui cupidatat dolore. Veniam consequat elit anim laboris exercitation mollit ex sunt nostrud occaecat nulla est cillum.

    Irure cupidatat minim ullamco irure esse magna aliquip consequat. Laboris pariatur eu id Lorem culpa ea veniam nulla dolore enim commodo dolor eu nostrud. Cillum enim ad esse aliquip sunt dolor. Velit in sit magna enim non qui cupidatat dolore. Veniam consequat elit anim laboris exercitation mollit ex sunt nostrud occaecat nulla est cillum.

    Irure cupidatat minim ullamco irure esse magna aliquip consequat. Laboris pariatur eu id Lorem culpa ea veniam nulla dolore enim commodo dolor eu nostrud. Cillum enim ad esse aliquip sunt dolor. Velit in sit magna enim non qui cupidatat dolore. Veniam consequat elit anim laboris exercitation mollit ex sunt nostrud occaecat nulla est cillum.

    Irure cupidatat minim ullamco irure esse magna aliquip consequat. Laboris pariatur eu id Lorem culpa ea veniam nulla dolore enim commodo dolor eu nostrud. Cillum enim ad esse aliquip sunt dolor. Velit in sit magna enim non qui cupidatat dolore. Veniam consequat elit anim laboris exercitation mollit ex sunt nostrud occaecat nulla est cillum.

    Irure cupidatat minim ullamco irure esse magna aliquip consequat. Laboris pariatur eu id Lorem culpa ea veniam nulla dolore enim commodo dolor eu nostrud. Cillum enim ad esse aliquip sunt dolor. Velit in sit magna enim non qui cupidatat dolore. Veniam consequat elit anim laboris exercitation mollit ex sunt nostrud occaecat nulla est cillum.

    Irure cupidatat minim ullamco irure esse magna aliquip consequat. Laboris pariatur eu id Lorem culpa ea veniam nulla dolore enim commodo dolor eu nostrud. Cillum enim ad esse aliquip sunt dolor. Velit in sit magna enim non qui cupidatat dolore. Veniam consequat elit anim laboris exercitation mollit ex sunt nostrud occaecat nulla est cillum.
  </h1>
{% endblock %}