<!DOCTYPE html>
{% load static %}      
<html lang="en">
	<head>
		<title>Feeds</title>
		<meta charset="utf-8"/>
		<meta name="Description" content="Steven, Illustrator: P. Picture, Category: Books, Price: $17.99, Length: 784 pages">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="text/css" href="{% static 'css/w3.css' %}">
	<head>
	<nav>
		<div class="w3-bar w3-gray">
		<a href="#" class="w3-bar-item w3-button">Home</a>
		<a href="#" class="w3-bar-item w3-button w3-hide-small">Link 1</a>
		<a href="#" class="w3-bar-item w3-button w3-hide-small">Link 2</a>
		<a href="#" class="w3-bar-item w3-button w3-hide-small">Link 3</a>
		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
		</div>

		<div id="demo" class="w3-bar-block w3-gray w3-hide w3-hide-large w3-hide-medium">
		<a href="#" class="w3-bar-item w3-button">Link 1</a>
		<a href="#" class="w3-bar-item w3-button">Link 2</a>
		<a href="#" class="w3-bar-item w3-button">Link 3</a>
	</div>
	</nav>
	<body>
	{% block content %}

	{% endblock %}


	<div class="w3-container">
	<p>☂In the example, the navigation bar is replaced with a button (☰) in the top right corner when shown on tablets and mobile devices. When the button is clicked, the links in the bar will vertically stack.</p>
	<p>Resize the screen to see the effect.</p>
	</div>
	<p> {% lorem 5 %}</p>
	<script>
	function myFunction() {
	var x = document.getElementById("demo");
	if (x.className.indexOf("w3-show") == -1) {
		x.className += " w3-show";
	} else { 
		x.className = x.className.replace(" w3-show", "");
	}
	}
	</script>

	</body>
</html>
