{% extends 'pages\base.html' %}
{% load static %}

{% block head %}    <title>Me Web Site</title>  {% endblock %}

{% block landing %}
    <h1 >MuN</h1>
    <h2>    Stuff    </h2>
    <p class="landing-main-text">
        {% lorem 2 b random %}
    </p>
{% endblock %}

{% block content %}
    <section class="landing-section langing-features">
        <section class="landing-feature feature-music-services">
            <h2>Connect your favourite music services</h2>
            <ul>
                <li>Spotify</li>
                <li>Deezer</li>
            </ul>
        </section>
    </section>
{% endblock %}

{% block footer %}
    <p>&copy; 2018  Hello, Home </p>
{% endblock %}        
