<!DOCTYPE html>
{% load static %}        
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="Description" content="Steven, Illustrator: P. Picture, Category: Books, Price: $17.99, Length: 784 pages">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="shortcut icon" href="{% static 'tick.png' %}"/>
        {% block head %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header class="header">
            {% if user.is_authenticated %}
                <div class="topnav" id="myTopnav">
                    <a href="index" class=" header-link">Home</a>
                    <a href="/blog" class="header-link">Blog</a>
                    <a href="/api" class="header-link">API</a>
                    <a href="contact" class="header-link">Contact</a>
                    <div class="dropdown header-link" >
                        <button class="dropbtn">Dropdown 
                        <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                        <a href="posts" >Posts</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            {% else %}
                <div class="header-text">Sign in via:</div>
            {% endif %}
        </header>
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="footer">
            <p>&copy; 2018</p>
        </footer>
        
    </body>
</html>