{% extends 'stevelanding/base.html' %}
{% block content %}
	{% load static %}
	<h1>Index</h1>
    <div class="container">
        <div>Text</div>    
        <div><img src="{% static 'img/forest.jpg' %}" alt="Tree" /></div>
        <div>Text</div>
        <div><img src="{% static 'img/forest.jpg' %}" alt="Forest"/></div>
        <div>Text</div>    
        <div><img src="{% static 'img/forest.jpg' %}" alt="Tree" /></div>
        <div>Text</div>
        <div><img src="{% static 'img/forest.jpg' %}" alt="Forest"/></div>
        <div>Text</div>    
        <div><img src="{% static 'img/forest.jpg' %}" alt="Tree" /></div>
        <div>Text</div>
        <div><img src="{% static 'img/forest.jpg' %}" alt="Forest"/></div>
        <div>Text</div>    
        <div><img src="{% static 'img/forest.jpg' %}" alt="Tree" /></div>
        <div>Text</div>
        <div><img src="{% static 'img/forest.jpg' %}" alt="Forest"/></div>
        <div>Text</div>    
        <div><img src="{% static 'img/forest.jpg' %}" alt="Tree" /></div>
        <div>Text</div>
        <div><img src="{% static 'img/forest.jpg' %}" alt="Forest"/></div>        
        <div>Text</div> 

    </div>
{% endblock %}